<form class="row g-3" id="login-user-authentication-secret-word-form">
    <label>Секретное слово:</label>
    <div class="mb-3">
        <input type="password" class="form-control" id="secret-word" minlength="1" required>
    </div>
    <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Отправить</button>
</form>
<script>
  $(document).ready(function () {
    $("#login-user-authentication-secret-word-form").submit(function () {
        // Получение ID формы
        var formID = $(this).attr('id');
        // Добавление решётки к имени ID
        var formNm = $('#' + formID);
        $.ajax({
          type: "POST",
          url: "/login",
          data: {'csrf_token': '{{ csrf_token() }}', 'method': 'secret_word', 'secret_word': document.getElementById('secret-word').value},
          success: function (response) {
            window.location.reload();
          },
          error: function () {
          }
        });
        return false;
    });
});
</script>